/* You can add global styles to this file, and also import other style files */

/* 
    body{
        background:linear-gradient(135deg, #8052ec,#d161ff);

        background-size: 100% 100%;

        background-repeat: no-repeat;
      
        background-attachment: fixed;
    } */

    body{
        
        background:linear-gradient(135deg, #8052ec,#d161ff);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;

        
    }